html { -webkit-font-smoothing: antialiased; }

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0;
	color: #505050;
	font-size: 14px;
}

/** navBar styling **/

div#navBar {
	float: left;
	width: 100%;
	background-color: #328fc2;
}

div#logo {
	width: 43%;
	float: Left;
	margin-left: 105px;
}

img {
	width: 43px;
	height: 37px;
	position: relative;
	float: left;
	margin: 5px 0 5px 0;
}

#logo span {
	float: left;
	font-size: 25px;
	color: #1c264a;
	padding: 10px;
}

#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#navBar li {
	float: left;
}

#navBar a {
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 16px;
}

#navBar a:hover {
	background-color: #006999;
}

.activeHeader {
	background-color: #006999;
}

/** Main Body Styles **/

#mainBody {
	float: left;
	width: 59.5%;
	margin: 65px 0 0 105px;
}

.mainHeader span {
	color: #5e0060;
	font-size: 35px;
	font-weight: lighter;
}

.topText span {
	margin-top: 35px;
	float: left;
	font-size: 17px;
}

.topText a {
	color: #328fc2;
}

.topText a:hover {
	color: #328F7D;
}

/** Reasons list **/

.reasons {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.reasons span {
	font-size: 16px;
	font-weight: bold;
}

.reasons ul {
	float: left;
	width: 100%;
	margin-left: -23px;
}

.reasons li {
	margin-top: 10px;
}

/** Info Box **/

#infoBox {
	float: left;
	width: 100%;
	background-color: #bbd8c4;
	height: 100%;
	margin-top: 17px;
	padding: 0 0 13px 0;
}

#infoBox .title {
	font-size: 16px;
	color: #650360;
	font-weight: bold;
	width: 100%;
	float: left;
	margin: 12px 0 0 16px;
}

#infoBox .content {
	margin: 0 0 10px 30px;
	float: left;
	width: 80%;
	line-height: 1.5;
}

.phoneImage {
	width: auto;
	height: auto;
	position: relative;
	float: right;
	left: -20px;
	top: -200px;
}

/** Rates Section **/

#ratesHeader {
	float: left;
	font-size: 28px;
	margin-top: -160px;
	width: 100%;
}

.rates {
	font-weight: lighter;
	margin-right: 5px;
}

.check {
	margin-left: 6px;
}

#ratesTable {
	float: left;
	margin-top: -100px;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tbody tr:nth-child(odd)	{
	background-color: #eef5f0;
}
table tbody tr:nth-child(even) {
	background-color: #ddebe1;
}

th {
	font-size: 12px;
	font-weight: lighter;
	text-align: right;
}

tbody td {
	padding: 10px;
}

.apy,
.earnings {
	text-align: right;
}

#first td {
	font-size: 18px;
	font-weight: 500;
}

tbody td {
	font-size: 16px;
	font-weight: 200;
	padding: 10px;
}

#tableNote {
	float: right;
	font-size: 12px;
	font-weight: 100;
}

/** Footer Styles **/

#footer {
	background-color: #e7e8e9;
	float: left;
	width: 100%;
	margin-top: 78px;
}

#footer ul {
	list-style: outside none none;
	margin: 0;
	overflow: hidden;
	padding: 20px 0 68px 105px;
}

#footer li {
	color: #328fc2;
	float: left;
	padding-right: 39px;
}

.copyright {
	width: 44%;
}

.activeFooter {
	font-weight: bold;
}

/** SideBar **/

.loginButton {
	background: #650360 none repeat scroll 0 0;
	border: 1px solid;
	color: #fff;
	float: left;
	font-size: 18px;
	font-weight: bold;
	height: 30px;
	margin: 65px 0 0 10px;
	padding-top: 5px;
	text-align: center;
	width: 20%;
	cursor: pointer;
}

#tabs {
	float: left;
	width: 20%;
}

#tabs ul {
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	list-style-type: none;
}

#tabs ul li {
	display: inline-block;
	clear: none;
	float: left;
	height: 24px;
}

#tabs ul li a {
	position: relative;
	margin-top: 16px;
	display: block;
	padding-top: 6px;
	background: #f5f5f5;
	z-index: 7;
	border: 1px solid #ccc;
	border-bottom: 0px;
	width: 78px;
	text-decoration: none;
	height: 35px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

#tabs #contentArea {
	border: 1px solid #ccc;
	float: left;
	height: auto;
	left: 10px;
	line-height: 19px;
	overflow: hidden;
	position: relative;
	top: 33px;
	width: 100%;
	z-index: 5;
	background: #f5f5f5;
}

p { 
	padding: 15px; 
	margin: 0;
}

.title {
	color: #328fc2;
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding: 15px;
	width: 100%;
}

/** Login Modal **/

#loginContainer {
	background: #7f7f7f none repeat scroll 0 0;
	height: 100%;
	opacity: 0.9;
	position: absolute;
	width: 100%;
	z-index: 10;
}

#loginModal {
	background-color: #fff;
	border: 1px solid;
	left: 35%;
	position: absolute;
	top: 35%;
	width: 30%;
	z-index: 12;
}

.modalTitle {
	font-size: 28px;
	font-weight: 200;
	padding: 20px;
}

#loginModal img {
	float: right;
	height: auto;
	margin: -65px 10px 0 0;
	width: auto;
	cursor: pointer;
}

.loginField {
	float: left;
	font-weight: bold;
	padding: 20px;
}

input {
	border: 1px solid #328fc2;
	float: left;
	height: 33px;
	margin-top: 10px;
	width: 65%;
}

#password > input {
	margin-left: 1px;
	width: 65.5%;
}

#username,
#password {
	float: left;
	width: 100%;
}

#loginModal .loginButton {
	float: right;
	left: -20px;
	margin: 0 10px 10px 0;
	position: relative;
}